{{ partial:header }}
<main>
    <section class="intro">
        <p>
            We help marine sector companies grow using modern digital strategy.
        </p>
    </section>

    {{ partial:services }}

    <section class="more-services">
        <h2>OUR <span>SERVICES</span></h2>
        <div class="service-offerings">
            <div>Custom Website Design</div>
            <div>Digital Marketing</div>
            <div>Brand Strategy</div>
        </div>
    </section>
</main>

{{ partial:footer }}
